<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="start ">
        <a href="index.html">
            <i class="icon-home"></i>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li class="active open">
        <a href="javascript:;">
            <i class="icon-basket"></i>
            <span class="title">eCommerce</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class="active">
                <a href="ecommerce_index.html">
                    <i class="icon-home"></i>
                    Dashboard</a>
            </li>
            <li>
                <a href="ecommerce_orders.html">
                    <i class="icon-basket"></i>
                    Orders</a>
            </li>
            <li>
                <a href="ecommerce_orders_view.html">
                    <i class="icon-tag"></i>
                    Order View</a>
            </li>
            <li>
                <a href="ecommerce_products.html">
                    <i class="icon-handbag"></i>
                    Products</a>
            </li>
            <li>
                <a href="ecommerce_products_edit.html">
                    <i class="icon-pencil"></i>
                    Product Edit</a>
            </li>
        </ul>
    </li>


    <li class="last ">
        <a href="javascript:;">
            <i class="icon-pointer"></i>
            <span class="title">Maps</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="maps_google.html">
                    Google Maps</a>
            </li>
            <li>
                <a href="maps_vector.html">
                    Vector Maps</a>
            </li>
        </ul>
    </li>
</ul>